<launch>
  <!-- Tag for frequency argument -->
  <arg 
    name = "frequency" 
    default = "10" 
  />
  <!-- Tag for record argument -->
  <arg 
    name = "record" 
    default = "false" 
  />
  <!-- Tags of talker node -->
  <node
    pkg="beginner_tutorials"
    type="talker"
    name="talker"
    args = "$(arg frequency)"
    output="screen"
  />
  <!-- Tags of listener node -->
  <node
    pkg="beginner_tutorials"
    type="listener"
    name="listener"
    output="screen"
    launch-prefix="gnome-terminal --command"	
  />
  <!-- Tags of rosbag node -->
  <node
    pkg="rosbag"
    type="record"
    name="record"
    args = "-a -O $(find beginner_tutorials)/results/recordedData.bag"
    if = "$(arg record)"
  />
</launch>
